@model WebStoreGB1.ViewModels.CartViewModel
    <table class="table table-condensed">
        <tr>
            <td>Итого</td><td>количество </td><td>сумма </td>
            <td> </td><td> </td><td> </td>
        </tr>
    </table>